
#Basic file ignore

**/bin/
!libs/
bin-int/
profiling/

build/
env/

GrizzlyCore/bindings

CMakeUserPresets.json

*.log

#Visual Studio specific file ignore

.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

#Xcode specific file ignore

**.xcworkspacedata
**.plist
**.pbxproj

.DS_Store

GrizzlyBear.xcworkspace/

#Clion specific file ignore

.idea/
**.cmake
cmake-build-debug/
.vscode/

Makefile
Makefile.in